<section>

    <div id="mapid"></div>
    <style>
        #mapid {
            height: 400px;
            width: auto;
        }
    </style>
    <script type="text/javascript">
        var map = L.map('mapid', {
            center: [52.249125, -7.118289],
            zoom: 13
        });

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        //display longitude & latitude
        function onMapClick(e) {
            alert("You clicked the map at " + e.latlng);
        }
        map.on('click', onMapClick);
        //add existing markers to maps
{{#each pois}}
        L.marker([{{long}}, {{lat}}]).addTo(map)
                .bindPopup('<h1>{{name}}</h1><center><img src="{{imageURL}}"></center></br><p><strong>Description:</strong> {{description}}</p><p><strong>Category:</strong> {{category}}</p>')

{{/each}}


    </script>


</section>
