<section class="ui raised segment">
    <div class="ui grid">

        <article class="twelve wide column">
            <div class="ui raised segment">
            {{>map}}
            </div>
            <div class="ui raised segment">
            <table class="ui celled table segment">
                <thead>
                <tr>
                    <th>Photo</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Coordinates (Long/Lat)</th>
                    <th>Category</th>
                    <th>Created By</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {{#each pois}}
                    <tr>
                        <td> <img src={{imageURL}} width="100px"> </td>
                        <td> {{name}} </td>
                        <td> {{description}} </td>
                        <td> {{long}} / {{lat}}</td>
                        <td> {{category}} </td>
                        <td> {{creator.firstName}} {{creator.lastName}} </td>
                        <td> {{#if show_delete}}
                        <a href="/deletepoi/{{id}}" ><button  class="ui submit button">del</button>  </a>
                        {{/if}} </td>

                    </tr>
                {{/each}}
                </tbody>
            </table>
            </div>
        </article>
    </div>
</section>